<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Husk Network - OTP Verification</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #eee;
        }
        .header img {
            width: 120px;
      border-radius: 10px;
        }
        .content {
            text-align: center;
            padding: 20px;
        }
        .otp {
            font-size: 1.8em;
            background: #000;
            color: #fff;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 5px;
        }
        .footer {
            text-align: center;
            font-size: 0.9em;
            color: #555;
            margin-top: 20px;
        }
        .footer p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="#">
                <img src="https://scontent.fkhi24-1.fna.fbcdn.net/v/t39.30808-6/470205245_122133758378435015_6460186753078136783_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeG32VA0YUNY63ei8Zdo2KxdxPtYqmeagaTE-1iqZ5qBpPjLiyG4kJCwL6MSvkZDWIMsqIkfrz8PZ7S-UdI_q_pM&_nc_ohc=nJV1P5zXTgkQ7kNvgHGuU_w&_nc_zt=23&_nc_ht=scontent.fkhi24-1.fna&_nc_gid=AWZO1vHkoC1tD5RfwrMrEzJ&oh=00_AYG8Q9Kc2TKZrLlJZqUR0iQBPIt-SQTpp8LLDuJ9fhv80g&oe=67D4BC2A" alt="Husk Network">
            </a>
        </div>
        <div class="content">
            <p style="font-size:1.1em">Hi,</p>
            <p>Thank you for joining Husk Network! Use the OTP below to verify your identity. This OTP is valid for 5 minutes.</p>
            <h2 class="otp">{{otp}}</h2>
            <p>Start your earning journey today with Husk Network!</p>
        </div>
        <div class="footer">
            <p>🚀 Start Earning Today with Husk Network! 💰</p>
            <p>Join thousands already enjoying easy earnings. Download the app now! 📲</p>
            <p>#MiningMadeSimple #PassiveIncome #HuskNetwork #TechForGrowth</p>
            <hr style="border-top: 1px solid #eee;">
            <p>Husk Network Official</p>
        </div>
    </div>
</body>
</html>